*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #deb887;
    display: flex;
    align-items: center;
    justify-content: center;

}
form{
    background-color: #7a37ff;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    

}
h1{
    font-size: 30px;
    margin-bottom: 10px;
}
#Email{
    margin: 10px 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}
#Password{
    margin: 10px 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}
#Conform-Password{
    margin: 10px 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;

}
input{
    margin: 10px 0px;
    padding: 10px;
    font-weight: 500;
    width: 220px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}